<div class="flex items-center justify-center w-screen h-screen bg-red-50">
  <div class="px-8 py-6 bg-white rounded-md shadow-md">
    <h1 class="text-2xl font-bold text-red-600"><%= error.status %> - <%= error.message %></h1>
    <% if (error.details) { %>
    <pre class="mt-4 text-sm text-gray-700"><%= JSON.stringify(error.details, null, 2) %></pre>
    <% } %>
  </div>
</div>
